body, html{
	padding : 0;
	margin : 0;
	font-family : 'Source Sans Pro', sans-serif;
	font-weight : 300;
	background-color : #EFEFEF;
	color : #444;
	font-size : 18px;
	line-height : 21px;
}
header{
	background-color : #34495e;
	color : #FFF;
	height : 170px;
	/*border : 1px solid black;*/
}
footer{
	background-color : #2c3e50;/*#34495e*/
	padding : 7px;
	margin-top : 20px;
	color : #FFF;
	font-size : 13px;
	display : none;
}
.large{
	/*border : 1px solid black;*/
	width : 800px;
	margin : auto;
}
.header{
	padding-bottom : 10px;
	display : flex;
}
.centre{
	text-align : center;
}
.info{
	display : block;
}
.info_perso{
	padding-top : 10px;
	width : 85%;
}
.info_photo{
	height : 198px; /*170*//*240*/
	display : block;
	border-left : 10px solid #2c3e50;
	border-right : 10px solid #2c3e50;
	border-top : 10px solid #2c3e50;
	/*margin-top : 15px;*/
	/*float : right;*/
}
.nom{
	font-size : 35px;
	font-weight : 400;
	margin-top : 10px;
	margin-bottom : 20px;
}
.corps{
	background-color : #FFF;
	/*margin-top : 20px;*/
}
.corps2{
	display : flex;
}
.objectif{
	background-color : #2c3e50;/*#34495e*/
	padding-top : 15px;
	padding-bottom : 15px;
	color : #FFF;
}
.important{
	font-weight : 400;
}
.main, .second, .top{
	/*border : 1px solid #000;*/
	padding : 15px;
	padding-top : 20px;
}
.top{
	width : 100%;
}
.main{
	width : 70%;
}
.second{
	width : 30%;
	background-color : #FFF;/*34495e*/
	color : #444;
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
}
.fen_titre, .fen_titre_sec{
	font-weight : 400;
	font-size : 25px;
	/*text-transform : uppercase;*/
}
.fen_titre_sec{
	color : #34495e;/*34495e*/
}
.fen_titre{
	color : #34495e;
}
.fen_contenu{
	text-align : justify;
	padding-left : 20px;
}
.fen_sous_contenu{
	padding-top : 5px;
	padding-bottom : 5px;
	margin-left : 20px;
}
.fen_contenu_projet, .fen_contenu_projet2{
	/*display : flex;*/
	padding-top : 20px;
	padding-left : 0;
}
.fen_contenu_projet{
	display : none;
}
.fen_contenu_projet2{
	display : block;
}
.projet{
	width : 95%;
	height : 100%;
	margin-left : 15px;
	margin-bottom : 15px;
}
.projet_img{
	display : none;
}
.projet_lien{
	color : #444;
	text-decoration : none;
}
.projet_descrip{
	width : 100%;
	height : 100%;
	padding : 10px;
	color : #444;
}
.projet_descrip_titre{
	text-align : center;
	font-weight : 400;
}
.projet_descrip_contenu{
	margin-top : 5px;
	text-align : left;
	font-size : 16px;
}
.float{
	float : left;
}
.logo{
	text-align : center;
}
.logo_img{
	width : 30px;
	height : 30px;
	margin-left : 10px;
	margin-right : 10px;
}
.lien1{
	text-decoration : none;
	color : #FFF;
}
.lien1:hover{
	text-decoration : underline;
}
.l1{
	display : none;
}
.l2{
	display : block;
}
.contact{
	display : flex;
	margin-bottom : 10px;
	color : #444;
}
.contact_descrip{
	width : 100%;
	word-break : break-all;
}
.suppre{
	display : none;
}
@media(max-width : 850px){
	.large{
		width : 95%;
	}
	body, html{
		background-color : #FFF;
	}
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../images/source_sans_pro_300.ttf) format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../images/source_sans_pro_400.ttf) format('truetype');
}

